.Weather {
  font-family: arial, sans-serif;
  border: 1px solid #dadde1;
  padding: 16px;

  border-radius: 4px;
  color: #878787;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;
}

.Weather .temperature {
  color: #999999;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
  margin-left: 10px;
}

.Weather .unit {
  color: #999999;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
}

.clear-sky-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/210/original/OIP.jpg?1705672517");
  background-size: cover;
  color: #363636;
}

.clear-sky-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/221/original/starry-clear-sky-night-4k-iq.jpg?1705673986");
  background-size: cover;
}

.few-clouds-day,
.scattered-clouds-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/222/original/R.gif?1705674124");
  background-size: cover;
  color: #363636;
  color: #6e6d6d;
}

.few-clouds-night,
.scattered-clouds-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/235/original/icegif-1542.gif?1705675617");
  background-size: cover;
}

.broken-clouds-day,
.broken-clouds-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/217/original/giphy_%281%29.gif?1705673811");
  background-size: cover;
  color: #000000;
}

.rain-day,
.shower-rain-day,
.thunderstorm-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/234/original/R_%281%29.gif?1705675101");
  background-size: cover;
  color: #363636;
}

.rain-night,
.shower-rain-night,
.thunderstorm-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/186/original/rain_night.gif?1705660313");
  background-size: cover;
  color: #999999;
}

.snow-day {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/290/original/h3oGiH.gif?1705692524");
  background-size: cover;
  color: #000000;
}

.snow-night {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/261/original/419e974e5b946cc9854be1d8d3ec8513.gif?1705690025");
  background-size: cover;
}

.mist-day,
.fog {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/293/original/8d1c415cc7016510e1578b3b300a3ce2_w200.gif?1705693317");
  background-size: cover;
  color: #000000;
}

.haze {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/111/293/original/8d1c415cc7016510e1578b3b300a3ce2_w200.gif?1705693317");
  background-size: cover;
  color: #000000;
}
